<%= @task.name %>

<ul>
  <li> Name: <%= @task.name %></li>  
  <li><%= @task.details %></li>  
  <li><%= @task.completed %></li>  
</ul>

<%= form_for(@task) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit %>
<% end %>