<div class="container-sm" style="margin: 30px; width: 400px; height: 300px;">
  <div class="card">
    <div class="card-body">
      <ul>
        <h3>  <%= @task.name.capitalize %></h3>
        <%= @task.details.capitalize %>
        <%= @task.completed %>
      </ul>

      <ul>
        <%= link_to 'All Tasks', tasks_path, class: "btn btn-primary" %>
        <%= link_to "Update", task_edit_path, class: "btn btn-primary"%>
        <%= link_to "Delete", task_path(@task), data: {turbo_method: :delete, turbo_confirm: "Are you sure"}, class: "btn btn-danger" %>
      </ul>
    </div>
  </div>
</div>



